.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-sign-up-button {
  background-color: rgba(46, 164, 79);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
}

.github-sign-up-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.github-sign-up-button:active {
  opacity: 0.8;
}
